		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<main class="page-content" aria-label="Content">
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			 </main>
			<footer>
	    		<ul>
	        		<li><a href="mailto:adriandipaolo@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Adrok24">github.com/Adrok24</a></li>
				</ul>
			</footer>
		</body>
